pytest
pylint
ipdb
jupyter
jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn
nltk

# API
fastapi         # API framework
pytz            # time zone management
uvicorn         # web server
# tests
httpx           # HTTP client
pytest-asyncio  # asynchronous I/O support for pytest
imblearn
tensorflow
